*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    overflow-x: hidden;
    background-image: url("fundo2.jfif");   
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    background-position: center;
}

main{
    background-color: transparent;
    position: absolute ;
    color: white;
    height: 50vh;
    width: 100vw;
    text-align: justify;
text-align: center;    
}

h1 {
    color: aliceblue;
    font-size: 3vw;
    font-style: oblique;
    text-align: center;
}

.imagens {
    border: solid white 2px;
}